.logo-primary {
  color: var(--primary);
}

.logo-secondary {
  color: var(--secondary);
}

.logo-title {
  margin-left: 15px;
  color: var(--primary);
  display: flex;
  gap: 10px;
}

.logo-title svg {
  justify-content: center;
  align-self: center;
}
