.pagination-container {
    width: 100%;
    background: var(--secondary);
    margin-top: 2em;
    display: flex;
    z-index: 999;
}

.pagination {
    display: flex;
    width: 100%;
    list-style: none;
    align-items: flex-end;
    justify-content: center;
}

.pagination li a {
    font-size: 1.5em;
    color: var(--primary);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination li.active a {
    background-color: var(--primary);
    color: #eadae4;
    border-radius: 5px;
}

.pagination li a:hover:not(.active) {
    background-color: #9a9498;
}