img {
  cursor: pointer;
}

/* room */
.room {
  transition: var(--mainTransition);
}

/* this class should show an overlay over the card */
.booked {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.3;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}

.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--inverse);
  padding: 0.4rem 0.7rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.7rem;
  text-align: center;
  transition: var(--mainTransition);
}

.price-top h6 {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: var(--mainSpacing);
}

.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}

.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}

.img-container:hover img {
  opacity: 0.3;
}

.img-container:hover .price-top {
  opacity: 0;
}

.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}

.room-info {
  background: var(--primary);
  color: var(--inverse);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  font-size: large;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  font-weight: 800;
  color: var(--secondary);
  background: var(--primary);
  padding: 0.5rem 1rem;
  border: 3px solid var(--primary);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
